

<div class="container"></div>
<footer class="footer">

	<!-- Footer main -->
	<section class="ft-main">
		<div class="ft-main-item-large">
			<span class="accentfont">© 2017 - {{ 'now' | date: "%Y" }} | Working Group Two AS</span>
		</div>
		<div class="ft-main-item">
			<h2 class="ft-title">Product</h2>
			<ul>
				<li class="lifooter"><a href="#">Features</a></li>
				<li class="lifooter"><a href="#">Customer Stories</a></li>
				<li class="lifooter"><a href="#">Telco Products</a></li>
			</ul>
		</div>
		<div class="ft-main-item">
			<h2 class="ft-title">Platform</h2>
			<ul class="footerhover">
				<li class="lifooter"><a href="#">For MVNO</a></li>
				<li class="lifooter"><a href="#">For MNO</a></li>
				<li class="lifooter"><a href="#">For IOT</a></li>
				<li class="lifooter"><a href="#">Developer APIs</a></li>
				<li class="lifooter"><a href="#">Statuspage</a></li>
				<li class="lifooter"><a href="https://support.wgtwo.com">Support</a></li>
			</ul>
		</div>

		<div class="ft-main-item">
			<h2 class="ft-title">Company</h2>
			<ul>
				<li class="lifooter"><a href="#">About</a></li>
				<li class="lifooter"><a href="#">Blog</a></li>
				<li class="lifooter"><a href="#">Careers</a></li>
				<li class="lifooter"><a href="#">Press</a></li>
			</ul>
		</div>

	</section>

	<!-- Footer social -->
	<!-- <section class="ft-social">
		<ul class="ft-social-list">
			<li class="lifooter"><a href="#"><i class="fab fa-facebook"></i></a></li>
			<li class="lifooter"><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li class="lifooter"><a href="#"><i class="fab fa-instagram"></i></a></li>
			<li class="lifooter"><a href="#"><i class="fab fa-github"></i></a></li>
			<li class="lifooter"><a href="#"><i class="fab fa-linkedin"></i></a></li>
			<li class="lifooter"><a href="#"><i class="fab fa-youtube"></i></a></li>
		</ul>
	</section> -->

	<!-- Footer legal -->
	<section class="ft-legal">
		<!-- <ul class="ft-legal-list">
			<li class="lifooter"><span class="accentfont">© 2015 - {{ 'now' | date: "%Y" }} | Working Group Two AS</span></li>
			<li class="lifooter"><a href="#">Terms</a></li>
			<li class="lifooter"><a href="#">Privacy</a></li>
			<li class="lifooter"><a href="#">Security</a></li>
		</ul> -->
	</section> 


</footer>