
<h1 class="center">B L O G</h1>
<br><br>

<div class="wrap">
    {% for blog in site.blog_eng reversed %}
    <div class="blogpost">
        <header>
            <h2 style="max-width: 100% !important; padding-left: 0 !important;"><a href="{{ blog.url }}">{{ blog.title }}</a></h2>
            <span class="date">
                (<time datetime="{{ blog.date | date_to_xmlschema }}"
                    itemprop="datePublished">{{ blog.date | date: "%b %-d, %Y" }}</time>)
            </span>
        </header>
        {% for tag in blog.tags %}
        <span class="tag {{ tag | split: "." | join: " " }}">{{ tag | split: "." | first }}</span>
        {% endfor %}
        <p style="padding-left: 0px !important; max-width: 100%;">{{ blog.excerpt | strip_html | truncate: 300 }} <a href="{{ blog.url }}" style="padding-left: 0 !important;">Read more →</a></p>
    </div>
    {% endfor %}
</div>