.blogpost {
  display: inline-block;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.06) 4px 4px 8px 0px, rgb(255, 255, 255) -4px -4px 8px 0px;
	border-radius: 6px;
	letter-spacing: -0.5px;
	padding: 16px 20px;
	cursor: default;
	transition: all 0.3s ease 0s;
	outline: none;
	border: none;
	background-color: #F2F4F8;
	// background-color: var(--theme-ui-colors-background,#F2F4F8);
	text-align: left;

	&:hover {
		border-radius: 6px;
		box-shadow: rgba(0, 0, 0, 0.06) 3px 3px 6px 0px inset, rgb(255, 255, 255) -3px -3px 6px 0px inset;

	}


  + .blogpost {
	margin-top: 24px;
  }

  header {
    // position: left;
    padding-right: 120px;

    .date {
      position: absolute;
      top: 0;
      right: 0;
      line-height: 40px;
    }
  }

  p {
    font-size: 16px;
    margin: 10px 0 0 0;
  }

  .tag {
    padding: 0 6px 1px 6px;
    background: #555;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 13px;
    border-radius: 0px;
    text-transform: capitalize;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    &.fixedcase {
      text-transform: none;
    }
  }
}
