// - - - - - - - - - - - - - - - - - -

// Contact form

// - - - - - - - - - - - - - - - - - -

.contact-form {
	// background: $background-color-demo;
	margin: 20px auto;
	width: 100%;
	max-width: 90%;
	padding: 20px;

	@include mq(tabletp) {
		margin: 30px auto;
		max-width: calc(70vw + 80px);
		padding: 40px;
	}

	@include mq(tabletl) {
		max-width: calc(65vw + 80px);
	}

	@include mq(laptop) {
		margin: 40px auto;
		max-width: calc(60vw + 100px);
		padding: 50px;
	}

	&:first-child {
		margin-top: 0;
	}
}

.contact-form__item {
	margin-top: 15px;

	@include mq(tabletp) {
		margin-top: 20px;
	}

	@include mq(laptop) {
		margin-top: 30px;
	}

	&:first-child {
		margin-top: 0;
	}
}

.contact-form__item--error {

	.contact-form__input,
	.contact-form__textarea {
		border-color: $error-color;
	}
}

.contact-form__label {
	display: block;
	font-size: $p-small;
	font-weight: $bold-weight;
	color: $text-medium-color;

	@include mq(tabletp) {
		font-size: $p-medium;
	}

	@include mq(laptop) {
		font-size: $p-large;
	}
}

.contact-form__input,
.contact-form__textarea {
	width: 50%;
	// margin-top: 8px;
	border: 2px solid $border-color-demo;
	border-radius: 2px;
	padding: 10px 12px;
	// background: $background-color-demo;
	background: transparent;
	font-size: $p-small;
	font-family: monospace;
	line-height: 1.4;
	color: $border-color-demo;
	@include transition(all 0.15s ease-in-out);

	@include mq(tabletp) {
		padding: 15px 18px;
		font-size: $p-medium;
		float: left;
	}

	@include mq(laptop) {
		font-size: $p-large;
		float: left;
	}

	&:focus {
		outline: none;
		border-color: $border-color-demo;
	}
}

::-webkit-input-placeholder {
	color: lighten(#274779,5%);
}
::-moz-placeholder {
	color: lighten(#274779,5%);
}
:-ms-input-placeholder {
	color: lighten(#274779,5%);
}
:-moz-placeholder {
	color: lighten(#274779,5%);
}

.contact-form__textarea {
	min-height: 200px;
	resize: none;
}


// demo moving gradient
.radial-gradient {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  
  /*Fallback if gradeints don't work */
  background: #9b59b6;
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, #3498db, #9b59b6
    );
}

.radial-gradient:before{
		content:'';
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: -1;
		background: 
		radial-gradient(
		at center, #3498db, #9b59b6
		);
	}

	/* body {
		background: {{ site.data.settings.color_settings_demo.background_color }};
		background-image: linear-gradient(160deg,#80D0C7 0%,#0093E9   100%);
		background-repeat: no-repeat;
	}
	body:before{
		content:'';
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: -1;
		background-image: linear-gradient(160deg, #7ec6c3 30%, #1c477d 100%);
	} */